include mixins/_Nav

doctype html
html
  head
    title= 'mowglixxCMS' + endpoint + ' - ' + title
    link(
      href='//cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css' 
      rel='stylesheet' 
      integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We' 
      crossorigin='anonymous')
  body.dark
    .container
      .row
        +Nav(Links)
      .row
        section.jumbotron.text-center
          .container
            h1 #{title}
            p.lead.text-muted // Be Different
            p
              a.btn.btn-success.m-2(href="https://www.youtube.com/watch?v=BijqEg7q6oI") NoNo
      .row
        p= body
  script(
    src='//cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js'
    integrity='sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj'
    crossorigin='anonymous')
