include mixins/_Nav

doctype html
html
  head
    title= 'mowglixxCMS' + endpoint.path + ' - ' + page.title
    link(
      href='//cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css' 
      rel='stylesheet' 
      integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We' 
      crossorigin='anonymous')
    style.
      .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
        background-color: #{page.theme};
        border-color: #{page.theme};
      }
      .jumbotron{
        background-color: #{page.theme};
        border-color: #{page.theme/2};
      }

  body
    .container
      .row
        +Nav(Links)
      .row
        section.jumbotron.text-center
          .container
            h1 #{endpoint.path}
            p.lead.text-muted #{'// '+page.subtitle}
            p
              a.btn.btn-primary.m-2(href= '/'+endpoint.path) #{page.theme}
      .row
        p= page.body
  script(
    src='//cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js'
    integrity='sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj'
    crossorigin='anonymous')
